<div id="footer">
    <div class="ui container">
        <p><em>The text on this website does not constitute legal advice.</em></p>
        <p><em>For help or press inquiries, email <a href="mailto:getbacklostwages@protonmail.com">getbacklostwages@protonmail.com</a>.</em></p>
        <div class="links">
          <a class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-near-black" href="#how-do-i-file-a-claim">
            File a claim
          </a>
          <a class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-near-black" href="/assets/flyer.pdf">
            Print a flyer
          </a>
          <a class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-near-black" href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fgetbacklostwages.com&text=Rideshare%20drivers%20and%20other%20independent%20contractors%20in%20California%20may%20be%20eligible%20for%20minimum%20wage%20and%20overtime%20pay%20-%20retroactively.%20Follow%20@GetWages%20or%20visit%20getbacklostwages.com%20to%20learn%20more">
            Tweet a link
          </a>
        </div>
     </div>
</div>
