#masthead {
  background-image: url('background2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-color: #0b0b0b;
}

@font-face {
  font-family: 'Fjalla One';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Fjalla One Regular '),
    local('Fjalla One-Regular'),
    url('/assets/fjalla-one-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('/assets/fjalla-one-latin-400.woff') format('woff'); /* Modern Browsers */
}



#masthead h1 {
  /* background: #000; */
  background: #d36565;
  font-size: 3rem;
  /* font-family: 'fjalla one',-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  font-weight: normal;
  */
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: -2pt;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

h2 {
  font-size: 1.8rem;
  line-height: 2.25rem;
}

h3 {
  font-size: 1.75rem;
}

.lead {
  font-size: 1.5rem;
  line-height: 2rem;
}

body p {
  font-size: 1rem;
  line-height: 1.5;
}

a {
  color: #d36565;
}

#footer p {
  font-size: 1rem;
  line-height: 1.5rem;
}

#footer .links a {
  font-weight: bold;
}

#icons {
  align-self: center;
}

h2:first-child {
  margin-top: 0
}

h2.normal {
  font-weight: normal;
}

#google-form {
  max-width: 640px;
}

.stickers {
  margin-top: 2em;
  font-weight: bold;
}

.stickers p {
  margin-top: 0;
}

.stickers img {
  width: 350px;
  max-width: 100%;
}

ul.links {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

ul.links li {
  display: inline-block;
  padding: 0 8px 0 5px;
  border-right: 1px solid #aaa;
}

ul.links li:first-child {
  padding-left: 0;
}

ul.links li:last-child {
  border: none;
}

.floating.button {
    position: fixed;
    right: 10px;
    padding: 1rem;
    color: #fff;
    background-color: #d36565;
    text-decoration: none;
    bottom: 20vh;
    font-size: 2.5rem;
}

@media screen and (min-width: 30em) {
  #masthead h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
  body p {
    font-size: 1.2rem;
  }
  #footer .links {
    text-align: left;
  }
}

@media screen and (max-width: 450px) {
  ul.links {
    font-size: 0.9rem;
  }
  .floating.button {
    font-size: 1.3rem;
    bottom: 10px;
  }
}
