#masthead {
    /* background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom; */
  background: #85328c;
}

#masthead h1 {
  background: #000;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

h2 {
  font-size: 1.75rem;
  line-height: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

.lead {
  font-size: 1.5rem;
  line-height: 2rem;
}

body p {
  font-size: 1rem;
  line-height: 1.5;
}

a {
  color: #85328c;
}

#footer p {
  font-size: 1rem;
  line-height: 1.5rem;
}

#footer .links {
  text-align: center;
}

#footer a.br-pill {
  margin-right: 0.25rem;
  font-size: 1rem;
  background: #85328c;
}

#icons {
  align-self: center;
}

@media screen and (min-width: 30em) {
  .lead {
    font-size: 1.8em;
    line-height: 1.8em;
  }
  body p {
    font-size: 1.5rem;
  }
  #footer .links {
    text-align: left;
  }
}
