<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>Get Back Lost Wages</title>
    <meta name="description" content="A project to help misclassified independent contractors in California file wage claims." />
    <!--
    <link rel="stylesheet" type="text/css" class="ui" href="/assets/semantic.min.css?1">
    -->
    <link rel="stylesheet" type="text/css" class="ui" href="/assets/styles.css">
    <!--
    <link href="https://fonts.googleapis.com/css?family=Cabin|Source+Serif+Pro" rel="stylesheet" type="text/css">
    -->
    <link rel="stylesheet" href="/assets/tachyons.min.css">
    <meta property="og:title" content="Get Back Lost Wages">
    <meta property="og:description" content="Rideshare drivers and other potentially misclassified independent contractors in California can now file wage claims against their company.">
    <meta property="og:image" content="https://getbacklostwages.com/assets/splash.png?1">
    <meta property="og:url" content="https://getbacklostwages.com/">
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="Get Back Lost Wages" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="GetWages" />
    <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAklEQVR4AewaftIAAAALSURBVGNoNer5DwAExgJD1or0GQAAAABJRU5ErkJggg==">

</head>
<body>
    <!-- Photo by Dan Gold on Unsplash -->
    <article class="mb5">
      <header class="sans-serif" id="masthead">
        <div class="mw8-ns center pv4-ns pv2">
          <h1 class="f-headline-ns f2 lh lh-copy white pa2 ttu tc">
            Get Back Lost Wages
          </h1>
          <div class="flex justify-center pb2">
            <img src="assets/icons.png" id="icons" />
          </div>
        </div>
      </header>
      <div class="pa4-ns pa3 pt5-ns sans-serif mw8-ns center">
        {{ content }}
      </div>
      <div class="pa4-ns pa3 sans-serif mw8-ns center">
        <hr/>
        {% include footer.html %}
      </div>
    </article>
</body>
</html>
